
.content-box{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.tug-bot-box{
    width: 600px;
    height: 600px;
}
@media screen and (max-width: 400px){

    .tug-bot-box{
        width: 300px;
        height: 400px;
    }
}
    
